<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products!</title>
  </head>
  <body>
    <h1><%= category %> Products</h1>
    <!-- id is an alias for _id in mongoid.id would return the _id of the document.

    The _id field is primary key for every document. It's called _id and is also accessible via id.

    Attempting to use an id key may result in a illegal ObjectId format error. -->
    <ul>
      <% for(let product of products) { %>
      <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
      <% } %>
    </ul>
    <a href="/products/new">+ New Product</a>
    <% if(category!== 'All') { %>
    <a href="/products">All Products</a>
    <% } %>
  </body>
</html>
